version: '3.4'

services:
 docker.randomgenerator.api:
  image: dockerrandomgeneratorapi:webapi
  build:
   context: ./
   dockerfile: Docker.RandomGenerator.Api/Dockerfile
  container_name: staging-randomgeneratorapi
  ports:
   - "6001:80"
  networks:
   - apiwebnat
  environment:
   ASPNETCORE_ENVIRNOMENT: Staging

 docker.randomgenerator.webapp:
  image: dockerrandomgeneratorapp:webapp
  build:
   context: ./
   dockerfile: Docker.RandomGenerator.WebApp/Dockerfile
  container_name: Staging-randomcoreapiwebapp
  ports:
   - "6002:80"
  networks:
   - apiwebnat
  environment:
   ASPNETCORE_ENVIRNOMENT: Staging
networks:
 apiwebnat:
  name: randomcore-mystagingnetwork
  driver: bridge